<html>
<head>
    <title>PFL - matrix </title>
    
    <link rel="stylesheet" href="./libs/bootstrap.min.css">
	<link rel="stylesheet" href="./libs/font-awesome.min.css">
	<link rel="stylesheet" href="./libs/jquery-ui.css">

	
    <style>
        html {
        height: 100%;
        width: 100%;
        padding: 40px;		
        }


        .row {
             width: 100%;
             //text-align: center; 
             vertical-align:top;
        } 

        .block {
            width: 100px;
            display: inline-block; 
            vertical-align:top;

        }

        .spacer {
            padding: 5px;       
        }

        .saveBar {
            padding: 5px;
            background-color:white;
        }
        .saveBar button{
            padding: 5px;
        }
		
		.matrixTable td{
			border: 1px solid #ccc;
			background-color:white;	
			text-align:center;
			
		}			

		.matrixTable th{
			height: 40px; 
			white-space: nowrap;
		}		
		
		.matrixTable th > div{
			-webkit-transform: translate(25px, 51px);
			-webkit-transform: rotate(315deg);
			width:35px;		
			}

		
		.matrixTable th > div > span{ 
			border-bottom: 1px solid #ccc
			
		}		

		/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}​
    </style>

    <style>
        body {
            font-size:11px !important;
            padding: 10px;
        }
    </style>
</head>
<body ng-controller="pflMatrixController" ng-app='pflMatrixApp'>
	<div id="helpDialog" title="Pfl Matrix - Instructions" style="display:none;background-color:beige">
			<ol ng-show="language=='default_en'">
			<li>Print a copy of the Brilliant Behaviors to record the behaviors that appear. Use either an individual checklist, group checklist, or a copy of the Guide.</li>
			<li>Record the information required information about the student and activity or activities at the top of the form.</li>
			<li>Observe a student while she or he is engaged in a challenging activity in an area of strength or interest. Click here to see a description of suitable activities.</li>
			<li>Put a check to the left of each Behavior the student demonstrates frequently, intensely and consistently.</li>
			<li>Transfer the student information and behaviors observed from the Brilliant Behaviors form to the Guide online. The Guide will change the Xs to the right of each behavior you check into vs.</li>
			<li>The Guide will also highlight the differentiation strategies to emphasize for this student when she or he is working in this area of strength or interest.</li>
			<li>The definition of each strategy will appear when the cursor rests on it. Read the definitions for each of the strategies recommended by the Guide. Do they seem appropriate?</li>
		</ol>

			<ol ng-show="language=='kids_en'">
			<li>Fill in the information at the top of the form.</li>
			<li>Read the list of Behaviors in the form. Let the cursor rest on the name of a behavior and a description of it will appear. Click here if you want more information about any of them.</li>
			<li>Do you experience any of those behaviors when you are learning something challenging about a topic you love? Put a check mark (v) in the column to the left of each Behavior that is consistently, intensely true of you while you’re learning something fascinating.</li>
			<li>Now look at the names of the strategies the Guide is recommending for you. They will be highlighted in green. A brief definition for each strategy will appear if you put your cursor over the name. Click on the name if you want more information and examples. The Guide thinks activities like that involve the strategies highlighted in green will challenge you in ways you’ll like when you are learning about your favorite topic. Do you agree with some or all of what the Guide has recommended?</li>
			<li>Share your Guide and the results with your teacher.</li>			
			</ol>
	</div>

<div class="panel panel-default">
  <div class="panel-heading">
	<div class="row">
		<div class="col-sm-3">
			Differentiation Strategy Guide
			<i class="fa fa-info-circle" aria-hidden="true" ng-click="showHelp();"></i>			
		</div>
		<div class="col-sm-4">			
			<div style="float:right;">
				Teacher/Parent Version
				<label class="switch" style="top:7px;">
					<input type="checkbox" ng-model="isStudentText" ng-click="setLanguage(isStudentText);">
					<div class="slider round"></div>
				</label>
				Student Version				
			</div>
		</div>		
		<div class="col-sm-5">			
			<div style="float:right;">
				<button class="btn btn-info btn-sm fa fa-save" ng-click="savePflMatrix();"></button>
				<label for="file-input" class="btn btn-info btn-sm fa fa-folder-open" ></label>				
				<input type="file" id="file-input" style="display:none;">
				<button class="btn btn-info btn-sm fa fa-print" ng-click="printPflMatrix();"></button>
			</div>
		</div>				
	</div>
  </div>  
</div>

<div class="panel panel-default">
  <div class="panel-heading">
	<div class="row">
		<div class="col-sm-6">Information</div>
		<div class="col-sm-6">			
			<div style="float:right;" ng-init="showInfoForm=true;">
				<i class="fa fa-caret-up" aria-hidden="true" ng-show="showInfoForm" ng-click="showInfoForm=false;"></i>
				<i class="fa fa-caret-down" aria-hidden="true" ng-show="!showInfoForm" ng-click="showInfoForm=true;"></i>
			</div>
		</div>		
	</div>
  </div>
  <div class="panel-body" ng-show="showInfoForm">
	<div class='row'>
		<div class='col-sm-4'>
			<div class="form-group row">
				<label for="pflName" class="col-form-label">Name</label>
				<input class="form-control" type="text" id="pflName" ng-model="userInfo.pflName">
			</div>
		</div>
		<div class='col-sm-4'>
			<div class="form-group row">
				<label for="pflGrade" class="col-form-label">Grade</label>
				<input class="form-control" type="number" id="pflGrade" ng-model="userInfo.pflGrade">
			</div>
		</div>		
		<div class='col-sm-4'>
			<div class="form-group row">
				<label for="pflDate" class="col-form-label">Date</label>
				<input class="form-control" type="date" id="pflDate" ng-model="userInfo.pflDate">
			</div>
		</div>				
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class="form-group row">
				<label for="pflStrengths" class="col-form-label" ng-show="language=='default_en'">Strengths:</label>
				<label for="pflStrengths" class="col-form-label" ng-show="language=='kids_en'">Things you LOVE to learn about: </label>
				<textarea class="form-control span6" rows="3" id="pflStrengths" ng-model="userInfo.pflStrengths"></textarea>
			</div>
		</div>
	</div>
	<div class='row' ng-show="language=='default_en'">  
		<div class='col-sm-12'>
			<div class="form-group row">
				<label for="pflEvidence" class="col-form-label" >Dates and descriptions of activities observed:</label>
				<textarea class="form-control span6" rows="3" id="pflEvidence" ng-model="userInfo.pflEvidence"></textarea>
			</div>
		</div>
	</div>	
    
  </div>
</div>
	
	<div class='row' style='height:10px;'>&nbsp;</div>
	<div class='row' height='25px'>
		<div class='col-sm-12' style="padding-right: 0px;">
			<style>				
				.pflDiffGroups{
					text-align:center;height:25px;vertical-align:top
				}
				.pflDiffTitles{
					font-size:11px
				}
				.pflCont {color:blue;}
				.pflProc {color:cadetblue;}
				.pflProd {color:dodgerblue;}
			</style>
			<table class="matrixTable" >
				<tr>
					<th colspan=23 class="pflDiffGroups">
						Suggested Differentiation Strategies
						<ul style="display:inline;">
							<li style="display:inline;font-size:11px;padding-right:10px;" ng-repeat="diffOpts in topDiffOpts">{{diffOpts}}</li>
						</ul>
					</th>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<th colspan=7 class="pflDiffGroups pflCont">Content</th>
					<th colspan=10 style="height:80px;" class="pflDiffGroups pflProc">Process</th>
					<th colspan=5 class="pflDiffGroups pflProd">Product</th>
				</tr>
				<tr>
					<th>Behaviors</th>
					
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.contAbs.title}}</span></div></th>					
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.contComp.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.extTop.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.livLiv.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.orgLivVal.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.relLiTop.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflCont">{{diffOptions.selSelCont.title}}</span></div></th>
					
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.cmplxThink.title}}</span></div></th>					
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.expMeths.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.groupInt.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.indvPurs.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.inqBasLea.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.opEnd.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.pacProc.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.reasRefl.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.selSelProc.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProc">{{diffOptions.procVariety.title}}</span></div></th>
					
					<th><div><span class="pflDiffTitles pflProd">{{diffOptions.authAud.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProd">{{diffOptions.feedAssProd.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProd">{{diffOptions.selSelProd.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProd">{{diffOptions.transProd.title}}</span></div></th>
					<th><div><span class="pflDiffTitles pflProd">{{diffOptions.prodVariety.title}}</span></div></th>
					
				</tr>
				<tr ng-repeat="orderedIndic in orderdIndicators">
					<td title="{{indicators[orderedIndic].descriptions[language]}}" style="text-align:left;border: 0px; font-size:11px;">
						<input type="checkbox" ng-model="indicators[orderedIndic].isSelected" ng-change="updateRank(indicators[orderedIndic]);">{{indicators[orderedIndic].title}}
					</td>
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.contAbs)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.contAbs)" class="fa fa-times"></i>
					</td>
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.contComp)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.contComp)" class="fa fa-times"></i>
					</td>
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.extTop)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.extTop)" class="fa fa-times"></i>
					</td>
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.livLiv)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.livLiv)" class="fa fa-times"></i>
					</td>
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.orgLivVal)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.orgLivVal)" class="fa fa-times"></i>
					</td>					
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.relLiTop)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.relLiTop)" class="fa fa-times"></i>
					</td>					
					<td class="pflCont">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelCont)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelCont)" class="fa fa-times"></i>
					</td>										
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.cmplxThink)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.cmplxThink)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.expMeths)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.expMeths)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.groupInt)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.groupInt)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.indvPurs)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.indvPurs)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.inqBasLea)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.inqBasLea)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.opEnd)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.opEnd)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.pacProc)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.pacProc)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.reasRefl)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.reasRefl)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelProc)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelProc)" class="fa fa-times"></i>
					</td>															
					<td class="pflProc">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.procVariety)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.procVariety)" class="fa fa-times"></i>
					</td>																				
					<td class="pflProd">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.authAud)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.authAud)" class="fa fa-times"></i>
					</td>																									
					<td class="pflProd">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.feedAssProd)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.feedAssProd)" class="fa fa-times"></i>
					</td>																									
					<td class="pflProd">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelProd)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.selSelProd)" class="fa fa-times"></i>
					</td>																									
					<td class="pflProd">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.transProd)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.transProd)" class="fa fa-times"></i>
					</td>																									
					<td class="pflProd">
						<i ng-show="indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.prodVariety)" class="fa fa-check-circle-o"></i>
						<i ng-show="!indicators[orderedIndic].isSelected && setIndicatorLocation(indicators[orderedIndic], diffOptions.prodVariety)" class="fa fa-times"></i>
					</td>																														
				</tr>
				<tr>
					<td style=" font-size:11px;">Ranking</td>	
					<td ng-repeat="diffOpt in diffOptions" style="background-color:#eee; font-size:11px;">{{diffOptRankings[diffOpt.id].displayRank}}</td>
				</tr>		
			</table>		
		</div>		
	</div>
</body>

<script src="./libs/jquery.min.js"></script>
<script src="./libs/bootstrap.min.js"></script>
<script src="./libs/angular_1.3.9.js"></script>
<script src="./libs/jquery-ui.min.js"></script>
<script src="./libs/alasql.min.js"></script>
<script src="./libs/moment.min.js"></script>
<script src="./libs/jspdf.min.js"></script>

<script type="text/javascript" src="./static.content/indicator.matrix.js"></script>
<script type="text/javascript" src="./app/pflMatrixApp.js"></script>
<script type="text/javascript" src="./app/pflMatrixApp.controller.js"></script>
<script type="text/javascript" src="./app/pflMatrixApp.service.js"></script>

</html>